* {
  margin: 0%;
  box-sizing: border-box;
}
body{
    background-image:
    url(./img/background_image.jpg);
  height: 100vh;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;

}
/* background image */
div.container {
    width: 95%;
    height: 95%;
    margin: 10px auto;

    background-color:hsla(0, 0%, 6%, 0.4);
    

}
/* header css */

div.header {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px white;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

div.header::first-letter {
  font-size: 55px;
}

div.header span {
  color: #e50914;
  text-shadow: 1px 1px #e50914;
}
h1::first-letter {
  font-size: 54px;
}

div.header p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}

/* form css */
form {
  font-family: Arial, Helvetica, sans-serif;
  background-color:hsla(0, 0%, 6%, 0.78);
  /* text-align: center; */
  margin: auto;
  color: white;
  width: 450px;
  padding: 10px 40px 10px 40px;
  font-weight: 100px;
  margin:20px auto 0px auto;
 

 
}

form .kutu {
  height: 40px;
  width: 360px;
  margin: 10px 0;
}

form section{
    margin-bottom: 10px;
    margin-top: 15px;
}

section textarea{
    margin-top: 10px;
 
}
section.btn {
    border-radius: 50px;
    background-color: #e50914;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    margin:10px auto 10px auto;
    
}